__pycache__/
*.pyc
*.pyo
*.DS_Store
.env
.venv/
.cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
data/raw/
data/processed/
data/labels/
reports/figures/
models/
mlruns/
notebooks/.ipynb_checkpoints/
.eggs/
build/
dist/
*.egg-info/
.DS_Store
.idea/
.vscode/
coverage.xml
htmlcov/
